In [3]:
import numpy as np
import pandas as pd
from scipy import stats

# Z test 

**case study 1:-** The length of 25 samples of a fabric are taken at random. Historic Mean and standard deviation are 150 cm and 5.5 cm respectively. Company manager wants to test if the current mean is equal to the the historic mean. Assume a to be 0.05

**Step1:**- Formation of Ho, Ha

Ho : Mean = 150 

Ha : Mean != 150

**Step2:**- Select level of significance

alpha = 0.05

**Step3:**- Check for Normality

In [9]:
df1 = pd.read_excel("Fabric_data.xlsx")
df1.head()

   Fabric_length
0          151.2
1          160.3
2          147.5
3          149.2
4          159.2

In [12]:
df1["Fabric_length"].skew()

0.29650632012590666

**Step4:-** Select the statistical test and calculate p value.

- 1 Sample Z test 2 tail rejection.

In [18]:
from statsmodels.stats.weightstats import ztest

In [23]:
ztest = ztest(df1["Fabric_length"],
value=150,
alternative = 'two-sided',
ddof=0)

In [24]:
ztest

(4.581553935379281, 4.615335331740767e-06)

(test statstic , P value)

**Step 5-** Based on P value,Accept or Reject

P < alpha
P low Null go
Reject Ho --> mean != 50 (Action required)

# T test
**Case Study 2:** The mean diameter of the bolt manufactured should be 10 mm to be able fit into the nut 20 samples are taken at random from production line bya quality inspector conduct a test to check with 90% confidence that the mean is not different from the specification value.

**1) Formulation of Ho and Ha**

- Ho Mean = 10 (no action)
- Ha Mean != 10 (Action)

**2) Select level of significance**
- alpha = 0.1

**3) Check for Normalilty**

In [28]:
df2 = pd.read_excel("Bolt diameter.xlsx")

In [29]:
df2.head()

   Diameter
0     11.27
1     12.06
2     12.15
3      9.89
4     10.82

In [31]:
df2["Diameter"].skew()

0.380916607218941

**4) select the statistical test and calculate the p value**
- 1 sample test T test with two tail Rejection.

In [35]:
from scipy import stats
ttest = stats.ttest_1samp(df2["Diameter"],popmean = 10,alternative = "two-sided")
ttest

TtestResult(statistic=4.1146847709314756, pvalue=0.0005896412896356807, df=19)

# Anova Test

**Case Study 3** A financial analyst at a financial institute wants to evaluate a recent credit card promotion after this promotion 500 cardholders were randomly selected Half received and ad promoting a full wavier of interest rate on purchases made over the next three months and half received a standard chrismas ad did the ad promoting full interest rate wavier increase purchase?

**1) Formulation of Ho,Ha**

Ho : (No difference): Avg of purchases made by FW <= Avg Purchases made sc => default / current/ no action

Ha : Avg of Purchases made by F/W > Avg purchases made by sc => take action.

**2) Select Level of Significance**
- alpha = 0.05

**3) check for Normality**

In [39]:
df3 = pd.read_excel("Promotion.xlsx")
df3.head()

   InterestRateWaiver  StandardPromotion
0             1989.10            1272.25
1             1808.38            1250.38
2             1153.75            1474.78
3             1745.64            2064.89
4             1008.24            2030.87

In [41]:
df3["InterestRateWaiver"].skew()

-0.186848927819777

In [42]:
df3["StandardPromotion"].skew()

0.1556560407787534

**4) Select the statistical test and calculate the p value**
- Annova Test (F- Test)

In [49]:
anova = stats.f_oneway(df3["InterestRateWaiver"],df3["StandardPromotion"])
anova

F_onewayResult(statistic=5.109521918142664, pvalue=0.02422584468584372)

- Based on p value accept or reject

# Proportion Test

**Case Study 4-** The people carry out a poll to find the acceptability of new football coach. It was decided that if the support rate for the coach for the entire population was truly less than 90% the coach would be fired 2k people participated and 496 people supported the new coach. conduct a test to check if the New coach should be fired with 95% level of confidence

**1) Formulation of Ho,Ha**

Ho : coach not to be fired (No action) No difference

H1 : coach to fired (action)

**2) Select level of Significance**
- alpha = 0.05

**4) select the statistical test and calculate the p value**

-1 Proportion test

In [53]:
binom_test = stats.binomtest(496,2000,0.95)
binom_test

BinomTestResult(k=496, n=2000, alternative='two-sided', statistic=0.248, pvalue=0.0)

- Based on p value accept or reject

In [54]:
# Chisquare Test

**Case Study 4:** Johnnie Talkers soft drinks division sales manager has been planning to launch a new sales incentive program for their sales executives. The sales executives felt that adults (>40 yrs) won't buy, children will & hence requested sales manager not to launch the program. Analyze the data & determine whether there is evidence at 5% significance level to support the hypothesis

**1. Formulation of H0,H1**

• HO -> Proportions of Adults = Proportions of Children

• H1 -> Proportions of Adults != Proportions of Children

**2. Select Level of significance**
    
• alpha = 0.05

**4. Select the Statistical test & Calculate the p value**
• Chi-Square Test

In [57]:
df5=pd.read_excel("JohnyTalkers.xlsx")
df5. head()

   Person            Drinks
0  Adults  Did Not Purchase
1  Adults  Did Not Purchase
2  Adults  Did Not Purchase
3  Adults  Did Not Purchase
4  Adults  Did Not Purchase

In [58]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Person  1220 non-null   object
 1   Drinks  1220 non-null   object
dtypes: object(2)
memory usage: 19.2+ KB

In [63]:
count = pd.crosstab(df5["Person"], df5["Drinks"],margins=True)
count

Drinks    Did Not Purchase  Purchased   All
Person
Adults                 422         58   480
Children               588        152   740
All                   1010        210  1220

In [67]:
chisquare_test = stats. chi2_contingency (count)
chisquare_test

Chi2ContingencyResult(statistic=14.613224681541515, pvalue=0.005574456386286158, dof=4, expected_freq=array([[ 397.37704918,   82.62295082,  480.        ],
       [ 612.62295082,  127.37704918,  740.        ],
       [1010.        ,  210.        , 1220.        ]]))

**5. Based on p value, Accept or Reject HO**

• P < alpha

• Plow Null go

• Reject HO

• Accept alternate hypothesis i.e. Unequal proportions,