In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("stroke prediction.csv")

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [7]:
continuous = ["age","avg_glucose_level","bmi"]
discrete_categorical = ["hypertension","heart_disease","ever_married","work_type","smoking_status","stroke"]

In [8]:
df[continuous].describe()

                age  avg_glucose_level           bmi
count  43400.000000       43400.000000  41938.000000
mean      42.217894         104.482750     28.605038
std       22.519649          43.111751      7.770020
min        0.080000          55.000000     10.100000
25%       24.000000          77.540000     23.200000
50%       44.000000          91.580000     27.700000
75%       60.000000         112.070000     32.900000
max       82.000000         291.050000     97.600000

## Feature Transformation

In [ ]:
- Converting skewed data to normal distributed data of continuous variable

In [9]:
df["age"].skew()

-0.10249737146133675

In [10]:
df["bmi"].skew()

0.8987282500249906

In [11]:
df["avg_glucose_level"].skew()   # Right Skewed

1.6754049014377763

### i) Log Transformation
- Converting each value to its logarithmic value
- Before applying log we have to check the minimum value if it is zero then we have to convert it into non zero
- If it is zero then add 00001 in each value

In [12]:
np.log(df["avg_glucose_level"])

0        4.555139
1        4.476882
2        4.708539
3        4.234686
4        5.083142
           ...
43395    4.071417
43396    5.364152
43397    4.521136
43398    4.596735
43399    4.375505
Name: avg_glucose_level, Length: 43400, dtype: float64

In [13]:
df["avg_log"]= np.log(df["avg_glucose_level"])

In [14]:
df["avg_log"].skew()

0.9325457821038275

### ii) Root Transformation

In [28]:
df["root_agl"]= df["avg_glucose_level"]**(1/12)
df["root_agl"].skew()

0.9983431560256402

### iii) Boxcox

In [30]:
from scipy.stats import boxcox

In [31]:
boxcox(df["avg_glucose_level"])

(array([0.91469903, 0.91411727, 0.91570554, ..., 0.91445231, 0.91498872,
        0.91328629]),
 -1.0854687878403677)

- Transform training data and save lambda value

In [33]:
df["agl_boxcox"],param = boxcox(df["avg_glucose_level"])

In [34]:
df["agl_boxcox"]

0        0.914699
1        0.914117
2        0.915706
3        0.911969
4        0.917562
           ...
43395    0.910168
43396    0.918534
43397    0.914452
43398    0.914989
43399    0.913286
Name: agl_boxcox, Length: 43400, dtype: float64

In [35]:
df["agl_boxcox"].skew()

0.0669411192805961