## **This is data for supervised learning**
Target : Attrition (Y)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/prasad/Prasad Folder/DBDA/PML/Data_Processing/EmployeeAttrition.csv')

In [4]:
X = df.drop("Attrition",axis=1)
Y = df['Attrition']

In [5]:
X.shape, Y.shape

((1470, 34), (1470,))

### **Data Encoding**

In [7]:
X_ohe = pd.get_dummies(X)

In [8]:
X_ohe.shape

(1470, 55)

In [9]:
X_ohe.isna().sum()

Age                                  0
DailyRate                            0
DistanceFromHome                     0
Education                            0
EmployeeCount                        0
EmployeeNumber                       0
EnvironmentSatisfaction              0
HourlyRate                           0
JobInvolvement                       0
JobLevel                             0
JobSatisfaction                      0
MonthlyIncome                        0
MonthlyRate                          0
NumCompaniesWorked                   0
PercentSalaryHike                    0
PerformanceRating                    0
RelationshipSatisfaction             0
StandardHours                        0
StockOptionLevel                     0
TotalWorkingYears                    0
TrainingTimesLastYear                0
WorkLifeBalance                      0
YearsAtCompany                       0
YearsInCurrentRole                   0
YearsSinceLastPromotion              0
YearsWithCurrManager                 0
BusinessTravel_Non-Travel            0
BusinessTravel_Travel_Frequently     0
BusinessTravel_Travel_Rarely         0
Department_Human Resources           0
Department_Research & Development    0
Department_Sales                     0
EducationField_Human Resources       0
EducationField_Life Sciences         0
EducationField_Marketing             0
EducationField_Medical               0
EducationField_Other                 0
EducationField_Technical Degree      0
Gender_Female                        0
Gender_Male                          0
JobRole_Healthcare Representative    0
JobRole_Human Resources              0
JobRole_Laboratory Technician        0
JobRole_Manager                      0
JobRole_Manufacturing Director       0
JobRole_Research Director            0
JobRole_Research Scientist           0
JobRole_Sales Executive              0
JobRole_Sales Representative         0
MaritalStatus_Divorced               0
MaritalStatus_Married                0
MaritalStatus_Single                 0
Over18_Y                             0
OverTime_No                          0
OverTime_Yes                         0
dtype: int64

In [10]:
X_ohe

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,False,False,True,False,False,False,True,True,False,True
1,49,279,8,1,1,2,3,61,2,2,...,False,True,False,False,False,True,False,True,True,False
2,37,1373,2,2,1,4,4,92,2,1,...,False,False,False,False,False,False,True,True,False,True
3,33,1392,3,4,1,5,4,56,3,1,...,False,True,False,False,False,True,False,True,False,True
4,27,591,2,1,1,7,1,40,3,1,...,False,False,False,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,False,False,False,False,False,True,False,True,True,False
1466,39,613,6,1,1,2062,4,42,2,3,...,False,False,False,False,False,True,False,True,True,False
1467,27,155,4,3,1,2064,2,87,4,2,...,False,False,False,False,False,True,False,True,False,True
1468,49,1023,2,3,1,2065,4,63,2,2,...,False,False,True,False,False,True,False,True,True,False
1469,34,628,8,3,1,2068,2,82,4,2,...,False,False,False,False,False,True,False,True,True,False

In [19]:
rem_col = X_ohe.columns[X_ohe.nunique()==1]

In [20]:
X_ohe.drop(rem_col, axis=1,inplace=True)

In [21]:
X_ohe.shape

(1470, 52)

In [22]:
X_ohe.drop_duplicates(inplace = True)

In [26]:
X_ohe.drop("EmployeeNumber",axis=1,inplace=True)

In [27]:
X_ohe.shape

(1470, 51)

In [28]:
Y.unique()

array(['Yes', 'No'], dtype=object)

In [38]:
Y = Y.replace({'Yes':1, 'No':0})

/var/folders/28/rd0m1z_d3nn88f8q0jwy00jm0000gn/T/ipykernel_43599/3805951796.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Y = Y.replace({'Yes':1, 'No':0})

In [39]:
Y.unique()

array([1, 0])

In [41]:
# Standardizing
X_ohe_std = (X_ohe-X_ohe.mean())/X_ohe.std()