# **Measures of central x (1st Business Moment)**

In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.DataFrame({"X":[1,1,2,5,4,3],"Y":[1,1,2,3,4,4],"Z":[1,1,2,2,3,3],"I":[5,1,3,4,2,np.nan]})

### **1) Mean**

**- Applied on Continuous Data**

- **Polulation Mean = (µ) = ∑ X / N**
- **Sample Mean = (µ) = ∑ X / n**

In [5]:
df

   X  Y  Z    I
0  1  1  1  5.0
1  1  1  1  1.0
2  2  2  2  3.0
3  5  3  2  4.0
4  4  4  3  2.0
5  3  4  3  NaN

In [7]:
# Option 1
# We are appliying mean for "X " Column\
df["X"].sum()/len(df["X"])

2.6666666666666665

In [9]:
# Option 2
df["X"].mean()

2.6666666666666665

### **2) Median**

- **Also Applied on Continuous Data**
- **Median refers to the data value that is positioned in the middle of ordered dataset**
- Median refers to centre if odd number of data points
- Median refers to average of centre 2 values if even number of data points

In [14]:
df["X"].median()

2.5

### **3) Mode**

**- It is applied on discrete variable**

**- It is a most repeated or we can say frequent value**

1) **Unimodal Data** - ( if the data have only 1 Mode Value)
2) **Bimodal Data** - (if the data have 2 Mode Value)
3) **Multimodal Data** - (If the data have greater than 2 Mode value)

In [16]:
df["X"].mode()

0    1
Name: X, dtype: int64

In [17]:
df["Y"].mode()

0    1
1    4
Name: Y, dtype: int64

In [19]:
df["Y"].mode()

0    1
1    4
Name: Y, dtype: int64

In [20]:
df["I"].mode()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: I, dtype: float64